/* The code below makes the background of the header black and the font color of the title white. Change this to match what you want for your website. */
header {
  color: darkgrey;
  font-size: 18px;
  padding: 128px 16px;
  background-image: url("https://media.istockphoto.com/id/1406028297/photo/activists-protesting-for-gun-control.jpg?s=612x612&w=0&k=20&c=bFgA2X6AiFPF_CxIeU6eBS9nr05nUxb7t4RTRmiUBuI=");
  font-family: Georgia, 'Times New Roman', Times, serif;
}


body {
  background-color: #F8E2F5;
  color: #812273;
  font-size: 25px;
  font-weight: 35px;
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

h2 {
  color: black;
  background-color: lightgray;
  text-align: center;
  font-size: 30px;
  border-style: dotted;
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

h3 {
  color: black;
  background-color:lightgray;
  text-align: center;
  font-size: 30px;
  border-style: dotted;
}

h4 {
  color: black;
  background-color: lightgray;
  text-align: center;
  font-size: 30px;
  border-style: dotted;
}

p {
  margin: 25px;
  padding: 25px;
  border-radius: 25px;
  border-style: solid;
  border-width: 10px;
  border-color: #1C5F2C;
  background-color: #a5a1d6;
  color: #2316b8;
}

img {
display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}

.title {
  -webkit-text-stroke: 1px white;
  background-color: black;
}

ol {
  background: #75297F;
  padding: 20px;
}

ol li {
background: #D2D27F;
color: deeppink;
padding: 5px;
margin-left: 35px;